<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대학 백과</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
</head>
<body class="flex justify-center bg-gray-50">
<div class="py-8 max-w-screen-lg">
    <div class="p-20 space-y-12 overflow-auto">
        <div class="flex justify-between items-center space-x-24 font-bold">
            <div class="flex space-x-10 items-center">
                <div>
                    <h1 class="text-4xl">대학백과</h1>
                </div>
                <div class="space-x-4 text-lg">
                    <a class="text-red-500">홈</a>
                    <a>관심</a>
                    <a>마이페이지</a>
                </div>
            </div>
            <div>
                <button class="py-2 px-6 bg-red-500 rounded-lg text-white">질문하기</button>
            </div>
        </div>
        <div>
            <input class="w-full text-2xl p-4 shadow-lg rounded-lg outline-none" type="search" placeholder="학교를 검색하세요">
        </div>
        <div class="flex flex-wrap gap-2 text-gray-500 self-center w-full">
            <a class="p-2 bg-gray-200 rounded-lg">경영 경제</a>
            <a class="p-2 bg-gray-200 rounded-lg">컴퓨터 전기 전자</a>
            <a class="p-2 bg-gray-200 rounded-lg">기계</a>
            <a class="p-2 bg-gray-200 rounded-lg">건축 토목</a>
            <a class="p-2 bg-gray-200 rounded-lg">재료 산업 안전</a>
            <a class="p-2 bg-gray-200 rounded-lg">농림 수산 축산</a>
            <a class="p-2 bg-gray-200 rounded-lg">사회과학</a>
            <a class="p-2 bg-gray-200 rounded-lg">간호</a>
            <a class="p-2 bg-gray-200 rounded-lg">보건</a>
            <a class="p-2 bg-gray-200 rounded-lg">의예 의학</a>
            <a class="p-2 bg-gray-200 rounded-lg">화공 에너지</a>
            <a class="p-2 bg-gray-200 rounded-lg">화학 생명 환경</a>
            <a class="p-2 bg-gray-200 rounded-lg">수학 물리 천문</a>
            <a class="p-2 bg-gray-200 rounded-lg">교육</a>
            <a class="p-2 bg-gray-200 rounded-lg">언어 문학</a>
            <a class="p-2 bg-gray-200 rounded-lg">인문학</a>
            <a class="p-2 bg-gray-200 rounded-lg">미술 응용예술</a>
            <a class="p-2 bg-gray-200 rounded-lg">생활과학</a>
            <a class="p-2 bg-gray-200 rounded-lg">음악 연극 영화</a>
            <a class="p-2 bg-gray-200 rounded-lg">체육 무용</a>
        </div>
    </div>
    <div class="space-y-4">
        <div>
            <h2 class="text-2xl font-bold">학교/학과</h2>
        </div>
        <div class="w-full flex space-x-4">
            <div class="w-1/3 p-6 rounded-lg shadow-md space-y-4">
                <div class="text-lg font-bold">만족도 높은 학과</div>
                <div class="divide-y">
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div>실내환경디자인학과</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div>실내환경디자인학과</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div>실내환경디자인학과</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/3 p-6 rounded-lg shadow-md space-y-4">
                <div class="text-lg font-bold">만족도 높은 학교</div>
                <div class="divide-y">
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/3 p-6 rounded-lg shadow-md space-y-4">
                <div class="text-lg font-bold">인기 학과</div>
                <div class="divide-y">
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            1
                        </div>
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div>실내환경디자인학과</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            1
                        </div>
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div>실내환경디자인학과</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                    <div class="flex py-2 space-x-2">
                        <div class="flex items-center">
                            1
                        </div>
                        <div class="flex items-center">
                            img
                        </div>
                        <div>
                            <div class="font-bold">부산대학교</div>
                            <div>실내환경디자인학과</div>
                            <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>