<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대학교</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
    <style>
        .svg-icon {
          width: 1.5em;
          height: 1.5em;
        }
    </style>
</head>
<body class="md:bg-gray-100">
    <div class="p-6 flex bg-gray-200 md:bg-white justify-between items-center">
        <div class="flex space-x-10">
            <a href="/" class="text-xl font-bold">대학백과</a>
            <div class="hidden md:flex space-x-6">
                <a href="/">홈</a>
                <a href="/likes">관심</a>
                <a href="/mypage">마이페이지</a>
            </div>
        </div>
        <div class="flex space-x-4">
            <div class="flex border-b-2 border-red-500 md:border-gray-200 md:border md:rounded-lg bg-gray-200 md:bg-white text-xs md:text-sm">
                <input class="py-2 md:p-2 bg-gray-200 md:bg-white outline-none md:rounded-lg" type="search" name="query" placeholder="학교명을 검색해보세요" />
                <input type="button" class="w-6 bg-gray-200 md:bg-white md:rounded-lg" style="background-position: 50%; background-image: url(https://www.univ100.kr/images/search.24px.png); background-size: 24px 24px; background-repeat: no-repeat" />
            </div>
            <a class="hidden md:block py-2 md:px-6 md:bg-red-500 rounded-lg md:text-white text-red-500 px-2" href="/post">질문하기</a>
        </div>
    </div>
    <div class="px-5 py-10 max-w-screen-lg w-full m-auto">
        <div class="flex md:justify-center">
            <div class="w-full space-y-5">
                <h1 class="text-2xl font-bold">관심</h1>
                <div class="bg-white p-7 rounded-lg shadow-lg divide-y">
                    <div class="flex justify-between py-2">
                        <div class="flex space-x-2">
                            <div class="flex items-center">
                                img
                            </div>
                            <div>
                                <div class="font-bold">부산대학교</div>
                                <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                            </div>
                        </div>
                        <button class="p-2 px-5 flex justify-center items-center space-x-4 rounded border bg-red-500 border-none">
                            <svg class="svg-icon text-white" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                                <path d="M9.719,17.073l-6.562-6.51c-0.27-0.268-0.504-0.567-0.696-0.888C1.385,7.89,1.67,5.613,3.155,4.14c0.864-0.856,2.012-1.329,3.233-1.329c1.924,0,3.115,1.12,3.612,1.752c0.499-0.634,1.689-1.752,3.612-1.752c1.221,0,2.369,0.472,3.233,1.329c1.484,1.473,1.771,3.75,0.693,5.537c-0.19,0.32-0.425,0.618-0.695,0.887l-6.562,6.51C10.125,17.229,9.875,17.229,9.719,17.073 M6.388,3.61C5.379,3.61,4.431,4,3.717,4.707C2.495,5.92,2.259,7.794,3.145,9.265c0.158,0.265,0.351,0.51,0.574,0.731L10,16.228l6.281-6.232c0.224-0.221,0.416-0.466,0.573-0.729c0.887-1.472,0.651-3.346-0.571-4.56C15.57,4,14.621,3.61,13.612,3.61c-1.43,0-2.639,0.786-3.268,1.863c-0.154,0.264-0.536,0.264-0.69,0C9.029,4.397,7.82,3.61,6.388,3.61"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="flex justify-between py-2">
                        <div class="flex space-x-2">
                            <div class="flex items-center">
                                img
                            </div>
                            <div>
                                <div class="font-bold">부산대학교</div>
                                <div class="py-1 text-xs text-gray-500">재학생 만족도 90%</div>
                            </div>
                        </div>
                        <button class="p-2 px-5 flex justify-center items-center space-x-4 rounded border">
                            <svg class="svg-icon text-red-500" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                                <path d="M9.719,17.073l-6.562-6.51c-0.27-0.268-0.504-0.567-0.696-0.888C1.385,7.89,1.67,5.613,3.155,4.14c0.864-0.856,2.012-1.329,3.233-1.329c1.924,0,3.115,1.12,3.612,1.752c0.499-0.634,1.689-1.752,3.612-1.752c1.221,0,2.369,0.472,3.233,1.329c1.484,1.473,1.771,3.75,0.693,5.537c-0.19,0.32-0.425,0.618-0.695,0.887l-6.562,6.51C10.125,17.229,9.875,17.229,9.719,17.073 M6.388,3.61C5.379,3.61,4.431,4,3.717,4.707C2.495,5.92,2.259,7.794,3.145,9.265c0.158,0.265,0.351,0.51,0.574,0.731L10,16.228l6.281-6.232c0.224-0.221,0.416-0.466,0.573-0.729c0.887-1.472,0.651-3.346-0.571-4.56C15.57,4,14.621,3.61,13.612,3.61c-1.43,0-2.639,0.786-3.268,1.863c-0.154,0.264-0.536,0.264-0.69,0C9.029,4.397,7.82,3.61,6.388,3.61"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
