<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대학교</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
    <style>
        .svg-icon {
          width: 1.5em;
          height: 1.5em;
        }
    </style>
</head>
<body class="md:bg-gray-100">
    <div class="p-6 flex bg-gray-200 md:bg-white justify-between items-center">
        <div class="flex space-x-10">
            <a href="/" class="text-xl font-bold">대학백과</a>
            <div class="hidden md:flex space-x-6">
                <a href="/">홈</a>
                <a href="/likes">관심</a>
                <a href="/mypage">마이페이지</a>
            </div>
        </div>
        <div class="flex space-x-4">
            <form action="/search" class="flex border-b-2 border-red-500 md:border-gray-200 md:border md:rounded-lg bg-gray-200 md:bg-white text-xs md:text-sm">
                <input class="py-2 md:p-2 bg-gray-200 md:bg-white outline-none md:rounded-lg" type="search" name="q" placeholder="학교명을 검색해보세요" />
                <input type="button" class="w-6 bg-gray-200 md:bg-white md:rounded-lg" style="background-position: 50%; background-image: url(https://www.univ100.kr/images/search.24px.png); background-size: 24px 24px; background-repeat: no-repeat" />
            </form>
            <a class="hidden md:block py-2 md:px-6 md:bg-red-500 rounded-lg md:text-white text-red-500 px-2" href="#">질문하기</a>
        </div>
    </div>
    <div class="flex md:justify-center pt-10">
        <div class="flex md:flex-col justify-center items-center md:text-center space-x-1">
            <img class="w-14 md:w-24 p-2" src="{{ university.icon }}" alt="대학교 로고">
            <div>
                <h1 class="text-2xl font-bold">{{ university.name }}</h1>
                <span class="text-gray-500 text-sm">4년제</span>
            </div>
        </div>
    </div>
    <div class="px-5 py-10 max-w-screen-lg w-full m-auto">
        <div class="flex md:justify-center">
            <form method="post" class="w-full space-y-5">
                <h1 class="text-2xl font-bold">질문하기</h1>
                <div class="bg-white p-7 rounded-lg shadow-lg divide-y">
                    <div class="flex justify-between py-2">
                        <input class="w-full text-lg font-bold outline-none" type="text" name="title" placeholder="제목을 입력하세요."/>
                    </div>
                    <div class="flex justify-between py-2">
                        <textarea class="w-full h-52 outline-none" name="content" placeholder="궁금하신 내용을 물어보세요." style="resize: none"></textarea>
                    </div>
                </div>
                <div class="space-y-5">
                    <p class="text-gray-500 text-xs">답변이 등록되면 질문을 수정하거나 삭제할 수 없습니다. </p>
                    <button type="submit" class="w-full py-2 px-8 bg-red-500 rounded-lg text-white">질문하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
